<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.deali.dont_poop_in_my_phone">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
